{% extends 'coreapp/includes/base.html' %}
{% block title %}Blogs{% endblock %}
{% block body %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>My cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ request.session.cartsession.items|yesno:"8,12,6" }}">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if request.session.cartsession.items %}
                                {% for key,value in request.session.cartsession.items %}
                                <tr>
                                    <td class="cart__product__item">
                                        <img src="img/shop-cart/cp-1.jpg" alt="">
                                        <div class="cart__product__item__title">
                                            <h6>{{value.name}}</h6>
                                            <div class="rating">
                                                {% for i in '0123'|make_list %}
                                                <i class="fa fa-star"></i>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ {{value.price}}</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
                                            <input data-proid="{{value.product_id}}" class="cartProductQty" type="text" value="{{value.quantity}}">
                                        </div>
                                    </td>
                                    <td class="cart__total">$ {% widthratio value.price 1 value.quantity %}</td>
                                    <td class="cart__close">
                                        <span data-proid="{{value.product_id}}" class="icon_close clear-cart"></span>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="5">
                                        <h4>No Cart Item Found .!</h4>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>  
                {% if request.session.cartsession.items %}
                <div class="col-lg-4">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span class="subtotal_val"></span></li>
                            <li>Promotional Discount <span>- $ 100</span></li>                            
                            <li>Delivery Fee <span style="color:green">Free</span></li> 
                            <hr>                         
                            <li>Total <span class="total_val"></span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->
{% endblock %}
{% block js %}
<script>
    totalSubtotalVal = 0
    $(".cart__total").each(function() {
        total = parseInt($(this).html().replace ( /[^\d.]/g, '' ))
        totalSubtotalVal = totalSubtotalVal + total
    })        
    $(".subtotal_val").html("$ " + amount(totalSubtotalVal))
    $(".total_val").html("$ " + amount(totalSubtotalVal - 100))
</script>
{% endblock %}